# ignore python binary files *.pyc and *.class
*.pyc
*.class

# ignore project file
.project
_project

# ignore backup files
*.bak
*.txt~
*.log~
.gitignore~

# log files
*.log
*.txt

# csv files
*.csv

# pictures
*.png

# test report files
*.html

# testcase and suite backup files
*.tc~
*.ts~
